---
const menu = ["Inicio", "Perfil", "Proyecto", "Contacto"];
---

<!DOCTYPE html>
<html lang="es-co">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Jhonatan Guerrero</title>
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<main class="bg-slate-200 min-h-screen">
			<header
				id="landing-header"
				class="flex justify-between bg-white items-center py-4 px-10 fixed top-0 w-full shadow-md"
			>
				<div class="flex px-4 py-2">
					<span class="font-bold text-3xl">Dejeloper</span>
				</div>

				<nav>
					<ul class="flex [&>li>a]:">
						{
							menu.map((item) => {
								return (
									<li>
										<a
											href="#"
											class="inline-block px-4 py-2 font-semibold text-slate-700  "
										>
											{item}
										</a>
									</li>
								);
							})
						}
					</ul>
				</nav>

				<div
					id="menu-backdrop"
					class={`absolute bg-slate-200 backdrop-blur-lg rounded
					translate-x-[var(--left)] translate-y-[var(--top)]
					left-0 top-0
					w-[var(--width)] h-[var(--height)]
					transition-all duration-300 
					ease-in-out opacity-0 -z-10
					`}
				>
				</div>
			</header>
		</main>
	</body>
</html>

<script>
	const $listItem = document.querySelectorAll("#landing-header li");
	const $menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

	$listItem.forEach((item) => {
		item.addEventListener("mouseenter", () => {
			const { left, top, width, height } = item.getBoundingClientRect();

			$menuBackDrop.style.setProperty("--left", `${left}px`);
			$menuBackDrop.style.setProperty("--top", `${top}px`);
			$menuBackDrop.style.setProperty("--width", `${width}px`);
			$menuBackDrop.style.setProperty("--height", `${height}px`);
			$menuBackDrop.style.opacity = "1";
			$menuBackDrop.style.visibility = "visible";
		});

		item.addEventListener("mouseleave", () => {
			$menuBackDrop.style.opacity = "1";
			$menuBackDrop.style.visibility = "hidden";
		});
	});
</script>
